{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Get Credits - Pay{% endblock %}
{% block content %}
<section class="content">
    <div class="col-12">
        <h1>Get Credits - Pay</h1>
        <h2>Buying {{ no_credits }} credits for £{{ charge }}</h2>
        <form id="payment-form" data-secret="{{ client_secret }}">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="card-number"><i class="far fa-credit-card"></i> Credit or debit card number:</label>
                        <div id="card-number" class="form-control" style='height: 2.4em; padding-top: .7em;'></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="card-expiry">Expires:</label>
                        <div id="card-expiry" class="form-control" style='height: 2.4em; padding-top: .7em;'></div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="card-cvc">CVC:</label>
                        <div id="card-cvc" class="form-control" style='height: 2.4em; padding-top: .7em;'></div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    {% buttons %}
                    <button type="submit" class="btn btn-primary w-75">Pay £{{ charge }} now</button>
                    {% endbuttons %}
                </div>
            </div>

            <div class="alert alert-warning">
                <p>Use payment intents testing cards:</p>
                <ul>
                    <li>Use: 4000002500003155 to continue to verification</li>
                    <li>Use: 4000008260003178 to continue to verification, but fail with insufficient funds</li>
                </ul>
            </div>
            
        </form>
        <!-- Modal to display payment error messages -->
        <div class="modal" id="payment-error-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Payment failed</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="payment-error-message">Something went wrong with the payment.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Model to display payment processing spinner -->
        <div class="modal" id="payment-processing-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Processing Payment...</h5>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Processing...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    function handlePaymentResponse(result) {
        if (result.error) {
            // If stripe returns a failure, show the user the message from stripe in a modal and allow them to retry.
            $('#payment-error-message').text(result.error.message);
            $('#payment-processing-modal').modal('hide');
            $('#payment-error-modal').modal('show');
        }else if (result.paymentIntent && result.paymentIntent.status === 'succeeded') {
            // If stripe returns success, poll the database until the stripe webhook has updated the user's wallet.
            pollPaymentComplete(1000);
        }
    }

    function pollPaymentComplete(delay) {
        $.get('{% url "check_intent" pk=intent_db_id %}', function(data) {
            if (data.success) window.location.replace('{% url "wallet" %}');
            else pollPaymentComplete(delay)
        }).fail(function() {pollPaymentComplete(delay)});
    }

    $(function() {
    	// On load set up stripe API and create Stripe Elements card input.
        let stripe = Stripe('{{ stripe_publishable }}');

        let elements = stripe.elements();
        let cardNumberElement = elements.create('cardNumber');
        cardNumberElement.mount('#card-number');

        let cardExpiryElement = elements.create('cardExpiry');
        cardExpiryElement.mount('#card-expiry');

        let cardCvcElement = elements.create('cardCvc');
        cardCvcElement.mount('#card-cvc');

        $('#payment-form').on('submit', function(e) {
            // On payment submission prevent the form being submitted, 
            // retrieve the payment intent client secret key and pass to Stripe with the card details.
            e.preventDefault();
            $('#payment-processing-modal').modal('show');
            let clientSecret = $('#payment-form').data('secret');
            stripe.handleCardPayment(clientSecret, cardNumberElement)
                  .then(handlePaymentResponse);
        });
    });   
</script>
{% endblock %}