/* COLORS */
/*
Pink #f92672
Green #a6e22e
Blue #66d9ef
Orange #fd971f
Purple #ae81ff
*/

/* GENERAL */

body {
	background: rgb(249,38,114);
	background: linear-gradient(63deg, rgba(249,38,114,1) 0%, rgba(102,217,239,1) 31%, rgba(253,151,31,1) 100%);
	background-attachment: fixed;
	font-family: Montserrat;
}

@media (max-width: 575px) {
	.container {
		margin: 0 0.5rem;
		width: unset;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: Nunito;
	font-weight: bold;
	margin-bottom: 0rem;
	margin-top: 0.5rem;
}

a, a:visited {
	color: #0099cc;
}

a:hover {
	color: #66d9ef;
}

/* BUTTONS */

.btn {
	font-family: Nunito;
	border-radius: 1.2em;
}

.btn-primary, a.btn-primary {
	background-color: #a6e22e;
	border-color: #a6e22e;
	color: black;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
	background-color: #80b712;
	border-color: #80b712;
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(166,226,46,.5);
}

.btn-danger, a.btn-danger {
	background-color: #f92672;
	border-color: #f92672;
	color: white;
}

.btn-danger:hover, .btn-danger:not(:disabled):not(.disabled):active {
	background-color: #e20051;
	border-color: #e20051;
}

.btn-danger:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-warning:focus, .btn-warning:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem rgba(249,118,34,.5);
}

.btn-warning, a.btn-warning {
	background-color: #fd971f;
	border-color: #fd971f;
	color: white;
}

.btn-warning:hover, .btn-warning:not(:disabled):not(.disabled):active {
	background-color: #e07900;
	border-color: #e07900;
	color: white;
}

/* ALERTS */

.alert-warning {
	color: #6d3b00;
	background-color: #f9bf7b;
	border-color: #fd971f;
}

.alert-warning a, .alert-warning a:visited {
	color: black;
}

.alert-warning a:hover {
	color: #6d3b00;
}


/* PAGINATION */

.page-item.active .page-link {
	background-color: #0099cc;
	border-color: #0099cc;
}

/* FORMS */

.form-control.is-valid, .was-validated .form-control:valid {
	background-image: none;
}

/* CHIPS */

.fake-label {
	margin-bottom: 0.5rem;
}

.chips {
	display: flex;
	flex-wrap: wrap;
}

.chip {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0.5rem;
	cursor: pointer;
	order: 2;
	height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.chip.selected {
	background-color: #ccc;
	order: 1;
}

.content {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* HEADER */

.navbar {
	background-color: white;
}

.navbar-brand {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.navbar-brand .logo {
	width: 90px;
	height: auto;
}

.brand-name {
	display: block;
	font-size: 2em;
	font-weight: 900;
	line-height: 0.7em;
	margin-top: 0.6em;
}

.brand-strapline {
	margin-left: 1.5em;
	transform: translate(0, -10px);
}

.navbar-nav-main {
	font-size: 1.25em;
	font-weight: 600;
}

.nav-item span {
	display: block;
	padding: 0.5rem 0;
}

@media only screen and (min-width: 576px) {
	.navbar {
		border-radius: 1rem;
		margin: 0.5rem;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 992px) {
	.navbar-nav-main {
		align-items: center;
		text-align: center;
	}
	.navbar-brand {
		flex-grow: 0;
	}
	.nav-item span {
		padding: 0.5rem 0.5rem;
	}
}

/* HOME PAGE */

.squares .col-12{
	padding: 0.5rem;
}

.squares .col-12::after {
	content: " ";
	display: block;
	height: 0;
	width: 0;
	padding-bottom: 100%
}

.square {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	padding: 0.5rem;
	background-color: white;
	border-radius: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
}

.square .square-content {
	width: 100%;
}

.square .big {
	font-size: 4em;
}

.square .huge {
	font-size: 8em;
}

/* TICKET DETAIL */

.content, .comment, .reply, .reply-to, .add-comment {
	background-color: white;
	border-radius: 1rem;
	padding-bottom: 0.5rem;
}

.comment, .add-comment {
	margin-top: 0.5rem;
}

.reply, .reply-to {
	margin-top: 0.5rem;
	padding: 0.5rem 15px;
}

.reply-to textarea {
	height: 5em;
}

.replies .col-11 {
	padding: 0;
}

.reply-toggle {
	margin-right: 1rem;
}

/* Also used on ticket list */
.reply-toggle span, .filter-toggle span {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	padding: .375rem 0;
	margin-bottom: 0.5rem;
	line-height: 1.5;
}

.reply-toggle span {
	font-size: 1.5em;
}

.add-comment {
	margin-bottom: 0.5rem;
}

.ticket-image {
	cursor: zoom-in;
}

#imageModal {
	cursor: zoom-out;
}

#imageModal .modal-dialog {
	max-width: unset;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#imageModal .img-fluid {
	max-height: 90vh;
	padding: 1rem;
}

/* ROADMAP */

ul.roadmap {
	list-style-type: none;
	padding: 0;
	margin-left: 20px;
}

li.roadmap-entry {
	border-left: 3px solid black;
	padding-bottom: 1rem;
	padding-left: 1em;
}

li.roadmap-entry:before {
	content: '';
	position: absolute;
	left: 24px;
	height: 24px;
	width: 24px;
	background-color: #66d9ef;
	border: 4px solid #66d9ef;
	border-radius: 50%;
}

li.roadmap-entry.bug:before {
	background-color: #f92672;
	border-color: #f92672;
}

li.roadmap-entry.bug.coming-soon:before, li.roadmap-entry.feature.coming-soon:before {
	background-color: white;
}

li.roadmap-entry.coming-soon {
	border-left: 3px dotted black;
}

@media only screen and (min-width: 992px) {
	ul.roadmap {
		font-size: 1.5rem;
		margin: 0;
	}

	li.roadmap-entry.feature {
		margin-right: 50%;
		text-align: right;
		padding-right: 1em;
		border-left: none;
		border-right: 3px solid black;
		transform: translate(3px, 0);
	}

	li.roadmap-entry.feature.coming-soon {
		border-right: 3px dotted black;
	}

	li.roadmap-entry.bug {
		margin-left: 50%;
		width: 50%;
	}

	li.roadmap-entry:before {
		width: 1em;
		height: 1em;
		left: 100%;
		transform: translate(-11px, 0);
	}

	li.roadmap-entry.bug:before {
		left: 50%;
	}
}

/* STATS PAGE */

.key {
	display: inline-block;
	padding: 0.25rem;
	margin-left: 1rem;
}

.key-pink:before, .key-green:before, .key-blue:before, .key-orange:before, .key-purple:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.5em;
	line-height: 1.5em;
}

.key-pink:before {
	background-color: #f92672;
}

.key-green:before {
	background-color: #a6e22e;
}

.key-blue:before {
	background-color: #66d9ef;
}

.key-orange:before {
	background-color: #fd971f;
}

.key-purple:before {
	background-color: #ae81ff;
}
