{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Report Bug{% endblock %}
{% block content %}
<section class="row content">
    <div class="col-12">
        <h1>Report Bug</h1>
        <form method="post" action="{% url 'add-bug' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</section>
{% endblock %}