{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Delete {{ object.noun|capfirst }}{% endblock %}
{% block content %}
<section class="row content">
    <div class="col-12">
        {% if user == object.user %}
        <h1>Delete Your {{ object.noun|capfirst }}</h1>
        {% else %}
        <h1>Delete {{ object.noun|capfirst }} By {{ object.user }}</h1>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% buttons %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'labels' %}" class="btn btn-warning">Cancel</a>
            {% endbuttons %}
        </form>
    </div>
</section>
{% endblock %}