{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Edit Comment{% endblock %}
{% block content %}
<section class="row content">
    <div class="col-12">
        <h1>Edit Comment</h1>
        <p>Comment by {{ object.user }} at {{ object.created|date:'d/m/y H:i' }}{% if object.reply_to %} in reply to {{ object.reply_to.user }}{% endif %}.</p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Save Edited Comment</button>
            {% endbuttons %}
        </form>
    </div>
</section>
{% endblock %}