{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<article class="row content">
    <div class="col-12">
        <h1>{{ object }}{% if object.status != 'awaiting approval' %} - {{ object.status|capfirst }}{% endif %}</h1>
        {% if object.status == 'awaiting approval' %}
        <div class="col-12 alert alert-warning">
            <h2 class="d-inline-block">{{ object.status|capfirst }}</h2>
        </div>
        {% endif %}
        <div class="col-12 ticket-details">
            <div><b>Views:</b> {{ object.no_views }}</div>
            <div><b>Votes:</b> {{ object.no_votes }}</div>
            <div><b>Comments:</b> {{ object.no_comments }}</div>
            <div>
                {% if perms.tickets.can_update_status %}
                    {% if object.approved is None %}
                        <form class="d-inline-block" action="{% url 'approve-ticket' pk=object.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary"><i class="far fa-thumbs-up"></i> Approve</button>
                        </form>
                    {% elif object.doing is None %}
                        <form class="d-inline-block" action="{% url 'doing-ticket' pk=object.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary"><i class="fas fa-ellipsis-h"></i> Doing</button>
                        </form>
                    {% elif object.done is None %}
                        <form class="d-inline-block" action="{% url 'done-ticket' pk=object.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Done</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            {{ object.content|linebreaks }}
            {% if object.image %}
                <div class="col-6 col-md-3 col-lg-2">
                    <a data-toggle="modal" data-target="#imageModal" class="ticket-image">
                        <img src="{{ object.image.url }}" alt="Attached image for {{ object }}" class="img-thumbnail img-fluid">
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-12 text-center">
            {% if object.approved and not object.done and not perms.cant_have_wallet %}
                {% if user.is_authenticated %}
                    {% if object.ticket_type == 'Feature' %}
                        {% if wallet_balance > 0 %}
                        <form action="{% url 'vote-for-ticket' pk=object.id %}" method="post">
                            <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 d-flex justify-content-center">
                                {% csrf_token %}
                                <label for="id_credits" class="sr-only">Credits</label>
                                <div id="btn-feature-vote" class="input-group flex-nowrap">
                                    <div class="input-group-prepend flex-md-grow-1">
                                        <button type="submit" class="w-100 text-right">Spend </button>
                                    </div>
                                    <input type="number" name="credits" value="1" min="1" max="{{ wallet_balance }}" class="form-control" placeholder="Credits" required id="id_credits">
                                    <div class="input-group-append flex-md-grow-1">
                                        <button type="submit" class="w-100 text-left">credits to vote for this {{ object.noun }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <a href="{% url 'get_credits' %}" class="btn btn-primary w-75">Get more credits to vote for this {{ object.noun }}</a> 
                        {% endif %}
                    {% else %}
                        {% if not has_voted %}
                            <form action="{% url 'vote-for-ticket' pk=object.id %}" method="post">
                            {% csrf_token %}
                            {% buttons %}
                            <button type="submit" class="btn btn-primary w-75">Vote for this {{ object.noun }}</button>
                            {% endbuttons %}
                        </form>
                        {% endif %}
                    {% endif %}
                {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary w-75">Log in to vote for this {{ object.noun }}</a>   
                {% endif %}
            {% endif %}
        </div>
        <div class="row align-items-end">
            <div class="col-12 col-md-6 chips">
                {% if object.selected_labels %}
                    <div class="chips-label"><i class="fas fa-tag"></i> Labels: </div>
                    {% for label in object.selected_labels %}
                    <a href="{{ label.get_absolute_url }}"><div class="chip">{{ label.name }}</div></a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-12 col-md-6 text-right">
                {% if object.edited %}
                Last edit {{ object.edited|date:'d/m/y H:i' }}
                {% endif %}
                {% if object.user == user or perms.tickets.can_edit_all_tickets %}
                <a href="{% url 'edit-ticket' pk=object.id %}" class="btn btn-warning"><i class="fas fa-pen"></i> Edit Ticket</a>
                <a href="{% url 'delete-ticket' pk=object.id %}" class="btn btn-danger btn-delete">Delete Ticket</a>
                {% endif %}
            </div>
        </div>
        
    </div>
</article>
{% if object.approved %}
<section id="comments">
{% if object.comments %}
    <div class="row comment">
        <div class="col-12">
            <h2>{{ object.no_comments }} Comments:</h2>
        </div>
    </div>
    {% for comment in object.comments %}
    <div class="row comment" id="comment-{{ comment.id }}">
        <div class="col-12">
            <h3>Comment by {{ comment.user }} at {{ comment.created|date:'d/m/y H:i' }}</h3>
            <blockquote>
                {{ comment.content|linebreaks }}
            </blockquote>
        </div>
        <div class="col-lg-8 col-12 order-2 text-right">
            {% if comment.edited %}
            <span class="edited">Last edit {{ comment.edited|date:'d/m/y H:i' }}</span>
            {% endif %}
            {% if comment.user == user or perms.tickets.can_edit_all_comments %}
            <a href="{% url 'edit-comment' ticket_pk=object.id pk=comment.id %}" class="btn btn-warning"><i class="far fa-edit"></i> Edit Comment</a>
            <a href="{% url 'delete-comment' ticket_pk=object.id pk=comment.id %}" class="btn btn-danger btn-delete">Delete Comment</a>
            {% endif %}
        </div>
        <div class="col-lg-4 col-12 order-lg-1 order-3">
            {% if comment.replies %}
            <a data-toggle="collapse" href="#comment-{{ comment.id }}-replies" role="button" aria-expanded="false" aria-controls="comment-{{ comment.id }}-replies" class="reply-toggle">
                <span>[+]</span> {{ comment.no_replies }} Replies
            </a>
            {% endif %}
            {% if comment_form %}
            <a class="btn btn-primary btn-reply-to" data-toggle="collapse" href="#comment-{{ comment.id }}-replies" role="button" aria-expanded="false" aria-controls="comment-{{ comment.id }}-replies"><i class="far fa-comments"></i> Reply</a>
            {% endif %}
        </div>
    </div>
    <div class="row replies collapse" id="comment-{{ comment.id }}-replies">
        <div class="col-11 offset-1">
            {% if comment.replies %}
                {% for reply in comment.replies %}
                <div class="reply" id="reply-{{ reply.id }}">
                    <h4>Reply by {{ reply.user }} at {{ reply.created|date:'d/m/y H:i' }}</h4>
                    <blockquote>
                        {{ reply.content|linebreaks }}
                    </blockquote>
                    <div class="text-right">
                    {% if reply.edited %}
                        <span class="edited">Last edit {{ reply.edited|date:'d/m/y H:i' }}</span>
                        {% endif %}
                        {% if reply.user == user or perms.tickets.can_edit_all_comments %}
                        <a href="{% url 'edit-comment' ticket_pk=object.id pk=reply.id %}" class="btn btn-warning"> <i class="far fa-edit"></i> Edit Reply</a>
                        <a href="{% url 'delete-comment' ticket_pk=object.id pk=reply.id %}" class="btn btn-danger btn-delete">Delete Reply</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% if comment_form %}
            <div class="reply-to" id="reply-to-{{ comment.id }}">
                <h3>Replying as {{ user.username }}</h3>
                <div>
                    <form action="{% url 'add-reply' ticket_pk=object.id comment_pk=comment.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="reply_{{ comment.id }}_content">Comment</label>
                            <textarea id="reply_{{ comment.id }}_content" name="content" cols="40" rows="4" class="form-control" placeholder="Comment" title="" required ></textarea>
                        </div>
                        {% buttons %}
                        <button type="submit" class="btn btn-primary"><i class="far fa-comments"></i> Add Reply</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            {% else %}
            <div class="reply-to text-center" id="reply-to-{{ comment.id }}">
                <a href="{% url 'login' %}?next={{ request.path }}%23reply-to-{{ comment.id }}" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Log in to reply</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="row comment">
        <div class="col-12">
            <h3>No comments yet!</h3>
            <p>Be the first!</p>
        </div>
    </div>
{% endif %}
    <div class="row add-comment" id="add-comment">
        <div class="col-12">
        {% if comment_form %}
            <h3>Commenting as {{ user.username }}</h3>
            <form action="{% url 'add-comment' ticket_pk=object.id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary"><i class="far fa-comment"></i> Add Comment</button>
                {% endbuttons %}
            </form>
        {% else %}
        <h3>Log in to comment</h3>
        <div class="text-center">
            <a href="{% url 'login' %}?next={{ request.path }}%23add-comment" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Log in</a>
        </div>
        {% endif %}
        </div>
    </div>
</section>
{% endif %}
{% if object.image %}
<!-- Image Modal -->
<div class="modal fade lightbox" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <img src="{{ object.image.url }}" alt="Attached image for {{ object }}" class="img-fluid">
    </div>
</div>
{% endif %}
<!-- Delete Modal -->
{% if user.is_authenticated %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
                <form id="confirmDelete" method="POST">
                    {% csrf_token %}
                    {% buttons %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="{{ object.get_absolute_url }}" data-dismiss="modal" class="btn btn-warning">Cancel</a>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block javascript %}
<script>
    $(function() {       
        // When the replies are opened and closed, change the -/+ indicator, and hide/show the reply button
        $('.replies').on('shown.bs.collapse', function() {
            $(this).prev().find('.reply-toggle span').text('[-]');
        }).on('show.bs.collapse', function() {
            $(this).prev().find('.btn-reply-to').fadeOut();
        }).on('hidden.bs.collapse', function() {
            $(this).prev().find('.reply-toggle span').text('[+]');
        }).on('hide.bs.collapse', function() {
            $(this).prev().find('.btn-reply-to').fadeIn(200);
        });
        
        // Focus the reply textarea when the reply to button is pressed and replies accordion has opened
        $('.btn-reply-to').on('click', function() {
            $($(this).attr('href')).one('shown.bs.collapse', function() {$(this).find('textarea')[0].focus();});
        });
        
        // Redirect all delete buttons to a delete confirmation modal that posts confirmation, instead of directing the user to a new page to confirm deletion.
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            $('#deleteModalLabel').text($(this).text());
            $('#confirmDelete').attr('action', $(this).attr('href'));
            $('#deleteModal').modal('show');
        });

        // If the user has been directed to a reply or reply-to form, open the reply thread on load and scroll to it.
        if (window.location.hash && window.location.hash.includes('reply')) {
            $(window.location.hash).parent().parent().collapse('show')
                .one('shown.bs.collapse', function() {$(window.location.hash)[0].scrollIntoView();});
        }

    });
</script>
{% endblock %}