{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Tickets{% endblock %}
{% block content %}
<article>
    <div class="row content">
        <div class="col-12">
            <h1>Tickets</h1>
        </div>
    </div>
    <div class="row content">
        <div class="col-12">
            <a data-toggle="collapse" href="#filters" role="button" aria-expanded="{% if filter_form.has_changed %}false{% else %}true{% endif %}" aria-controls="filters" class="filter-toggle {% if not filter_form.has_changed %}collapsed{% endif %}">
                <h2>Filters <span>[{% if filter_form.has_changed %}-{% else %}+{% endif %}]</span></h2>
            </a>
            <div id="filters" class="collapse {% if filter_form.has_changed %}show{% endif %}">
                <form id="filter-form" action="" method="GET">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {% bootstrap_form filter_form exclude="labels" %}
                        </div>
                        <div class="col-12 col-lg-6">
                            <p class="fake-label" aria-hidden="true">Labels</p>
                            <div id="label-chips" class="chips" aria-hidden="true"></div>
                            {% bootstrap_field filter_form.labels form_group_class="sr-only" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% buttons %}
                            <button type="submit" class="btn btn-primary">Filter</button>
                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-12">
            {% if object_list %}
            <h3>{{ no_tickets }} Tickets</h3>
            {% else %}
            <h3>No tickets yet...</h3>
            {% endif %}
            <ul>
            {% for ticket in object_list %}
                <li>
                    <a href="{% url 'ticket' pk=ticket.pk %}">{{ ticket }}</a>
                    {% if ticket.status != 'approved' %}
                     - {{ ticket.status }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'tickets-list' %}{{ query_string }}{{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    {% endif %}
                    {% for page_number in page_range %}
                    {% if page_number == page_obj.number %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ page_number }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'tickets-list' %}{{ query_string }}{{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'tickets-list' %}{{ query_string }}{{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item active">
                        <span class="page-link">
                            1
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    <li class="page-item  disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}  
                </ul>
            </nav>
        </div>
    </div>
</article>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script>
    $(function() {       
        // When the replies are opened and closed, change the -/+ indicator, and hide/show the reply button
        $('#filters').on('shown.bs.collapse', function() {
            $('.filter-toggle span').text('[-]');
        }).on('hidden.bs.collapse', function() {
            $('.filter-toggle span').text('[+]');
        });
        
        // Create chips to mirror the select box for the labels filters.
        selectToChips('id_labels', 'label-chips');
    });
</script>
{% endblock %}