{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="row content">
        <div class="col-12">
            <h1>Welcome to Wish Machine</h1>
            <p>Wish Machine is an issue tracker for the free to play mobile game Unicorn Attractor. Players cna use Wish Machine to suggest new features, report bugs, and generally support the developers while helping guide the direction the game takes.</p>
        </div>
    </div>
<div class="row squares">
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'roadmap' %}">
            <div class="square">
                <div class="square-content">
                    <h2 class="huge">{{ features_coming_soon }}</h2>
                    <h3>New Feature{% if features_coming_soon != 1 %}s{% endif %} Coming Soon!</h3>
                </div>
            </div>
        </a>
    </div>
    {% if user.is_authenticated and not perms.credits.cant_have_wallet%}
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'get_credits' %}">
            <div class="square">
                <h2>Get Credits To Vote For Features</h2>
            </div>
        </a>
    </div>
    {% endif %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="square">
            <div class="square-content">
            <h2 class="big">{{ bugs_this_week }} Bug{% if bugs_this_week != 1 %}s{% endif %}</h2>
            <h3>Crushed This Week!</h3>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ most_requested_feature_url }}">
            <div class="square">
                <h2>No. 1 Most Requested Feature</h2>
            </div>
        </a>
    </div>
    {% if avg_time_to_bugfix %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="square">
            <div class="square-content">
                <h2>{{ avg_time_to_bugfix }}</h2>
                <h3>Average Time To Bug Fix</h3>
            </div>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'add-feature' %}">
            <div class="square">
                <h2>Suggest A New Feature</h2>
            </div>
        </a>
    </div>
    {% else %}
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'signup' %}">
            <div class="square">
                <h2>Sign Up to suggest a new feature of your own</h2>
            </div>
        </a>
    </div>
    {% endif %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="square">
            <div class="square-content">
            <h2 class="big">{{ total_features_implemented }}</h2>
            <h3>Community Supported Features Implemented So Far</h3>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'add-bug' %}">
            <div class="square">
                <h2>Report A Bug</h2>
            </div>
        </a>
    </div>
    {% endif %}
    
</div>
{% endblock %}