{% extends "base.html" %}
{% block title %}Roadmap{% endblock %}
{% block content %}
<section class="content">
    <div class="col-12">
        <h1>Roadmap</h1>
        <ul id="roadmap" class="roadmap">
        {% for ticket in tickets %}
            <li class="roadmap-entry {{ ticket.type }}{% if ticket.date == 'Coming Soon' %} coming-soon{% endif %}">
                <a href="{{ ticket.url }}">
                    {{ ticket.date }} - {{ ticket.title }}<span class="sr-only"> - {{ ticket.type }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-12 text-lg-center">
        {% if not done %}
            <button id="load-more" class="btn btn-primary" data-page="1">
                Load More
            </button>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block javascript %}
    <script>
        $(function() {
            $('#load-more').on('click', function() {
                let button = $(this);
                if (!button.hasClass('disabled')) {
                    button.addClass('disabled').html('<span class="spinner-border spinner-border-sm hidden" role="status"></span> Loading...')
                    $.ajax({url: '?page=' + button.data('page'), type: 'GET', contentType: 'application/json'})
                     .done(function(result) {
                        let roadmap = $('#roadmap');
                        result.tickets.forEach(function(ticket) {
                            let comingSoon = ticket.date === 'Coming Soon' ? ' coming-soon' : '';
                            roadmap.append(`
                            <li class="roadmap-entry ${ticket.type}${comingSoon}">
                                <a href="${ticket.url}">
                                    ${ticket.date} - ${ticket.title}<span class="sr-only"> - ${ticket.type}</span>
                                </a>
                            </li>`);
                        });
                        if (result.done) button.fadeOut();
                        else {
                            button.data('page', button.data('page') + 1).removeClass('disabled').html('Load More');
                        }
                     })
                     .fail(function(result) {
                            console.log(result);
                            button.addClass('btn-warning').removeClass('btn-primary').html('Oops... Something went wrong!');
                     });
                }
            });
        });
    </script>
{% endblock %}