{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Ticket Stats{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/dc.css' %}">
{% endblock %}
{% block content %}
<section class="content">
    <div class="col-12">
        <h1>All Stats {{ date_range }}</h1>
        <form action="" method="GET">
            <div class="row">
                <div class="col-12 col-md-6">
                    {% bootstrap_field date_range_form.start_date%}
                </div>
                <div class="col-12 col-md-6">
                    {% bootstrap_field date_range_form.end_date%}
                </div>
                <div class="col-12">
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Filter</button>
                    {% endbuttons %}
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div id="chart" class="col-12 order-1"></div>
        <div id="pie" class="col-12 col-md-6 col-lg-4 col-xl-3 order-3"></div>
        <div class="col-12 col-md-6 col-lg-8 col-xl-9 order-2 order-md-4">
            <span class="key key-blue"><span id="total-features"></span> New feature requests</span>
            <span class="key key-pink"><span id="total-bugs"></span> New bug reports</span>
            <span class="key key-orange"><span id="total-votes"></span> Votes</span>
            <span class="key key-green"><span id="total-comments"></span> Comments</span>
            <span class="key key-purple"><span id="total-views"></span> Views</span>
        </div>
    </div>
</section>
<section class="content">
    <div class="col-12">
        <h2>To Do</h2>
    </div>
    {% if awaiting_approval %}
    <div class="col-12 alert alert-warning">
        <a href="{% url 'tickets-list' %}?status=awaiting"><h3>{{ awaiting_approval }} Ticket{% if awaiting_approval > 1 %}s{% endif %} Awaiting Approval</h3></a>
    </div>
    {% endif %}
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Top 5 most requested features</h3>
                <ol>
                {% for feature in top_5_features %}
                    <li>
                        <a href="{{ feature.get_absolute_url }}">{{ feature.title }} - {{ feature.status|capfirst }}</a>
                        <a href="{% url 'ticket_stats' pk=feature.id %}">(Stats)</a>
                    </li>
                {% endfor %}
                </ol>
            </div>
            <div class="col-12 col-md-6">
                <h3>Top 5 most reported bugs</h3>
                <ol>
                {% for bug in top_5_bugs %}
                    <li>
                        <a href="{{ bug.get_absolute_url }}">{{ bug.title }} - {{ bug.status|capfirst }}</a>
                        <a href="{% url 'ticket_stats' pk=bug.id %}">(Stats)</a>
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/libs/d3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/libs/crossfilter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/libs/dc.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/stats.js' %}" type="text/javascript"></script>
    <script>
        let dataset = {{ chart_data|safe }};

        function makeTitle(d) {
            return `${d.key.toDateString()}: ${d.value.total} ${d.value.type}`;
        }

        $(() => {
            // Create and render the chart on page load.
            let ndx = crossfilter(combineData(dataset));
            let chart = createCompositeChart('chart', ndx,
                                             [{name: 'features', color: colors.blue, title: makeTitle},
                                              {name: 'bugs', color: colors.pink, title: makeTitle},
                                              {name: 'comments', color: colors.green, title: makeTitle},
                                              {name: 'views', color: colors.purple, title: makeTitle},
                                              {name: 'votes', color: colors.orange, title: makeTitle}]);
            chart.yAxisLabel('Count', 25)

            let pie = createPieChart('pie', ndx,
                                     [{name: 'features', color: colors.blue},
                                      {name: 'bugs', color: colors.pink}]);

            createTotalCounts(ndx, '#total-', ['features', 'bugs', 'comments', 'views', 'votes']);


            dc.renderAll();
        });

    </script>
{% endblock %}