{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %} - Wish Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Stripe API - Included on every page for security -->
    <script src="https://js.stripe.com/v3/"></script>
    {% block head %}
        
    {% endblock %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light align-items-lg-start">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/unicorn.png' %}" alt="Unicorn Attractor Logo" class="logo">
            <div class="brand-titles d-none d-sm-inline-block">
                <span class="brand-name">Wish Machine</span>
                <span class="brand-strapline">Where dreams come true!</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-end flex-wrap" id="navbarNav">
            <hr class="d-lg-none">
            <ul class="navbar-nav navbar-nav-main order-lg-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tickets-list' %}">All Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'roadmap' %}">Roadmap</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-feature' %}">Request Feature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-bug' %}">Report Bug</a>
                </li>
            </ul>
            <hr class="d-lg-none">
            <ul class="navbar-nav user-details col-lg-12 order-lg-1 justify-content-lg-end">
                <li class="nav-item">
                    <span>Logged in as {{ user }}</span>
                </li>
                {% if perms.tickets.can_view_all_stats %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all_ticket_stats' %}"><i class="fas fa-chart-area"></i> Stats</a>
                </li>
                {% endif %}
                {% if perms.tickets.can_view_transaction_stats %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transaction_stats' %}"><i class="fas fa-chart-line"></i> Transactions</a>
                </li>
                {% endif %}
                {% if perms.tickets.can_create_edit_delete_labels %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels' %}"><i class="fas fa-tags"></i> Labels</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                </li>
                {% if wallet_balance is not None %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wallet' %}"><i class="fas fa-wallet"></i> Credits: {{ wallet_balance }}</a>
                </li>
                {% endif %}
                {% else %}
            </ul>
            <hr class="d-lg-none">
            <ul class="navbar-nav user-details col-lg-12 order-lg-1 justify-content-lg-end">
                {% if login_form %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i> Log In</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i> Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if messages %}
    <!-- Message Toasts -->
    <div class="toast-container position-absolute w-100 d-flex flex-column p-4">
        {% for message in messages %}
        <div class="toast ml-auto" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body d-flex">
                <div class="mr-auto">{{ message }}</div>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Page Content -->
    <div class="container">
        {% block content %}
            
        {% endblock %}
        <footer class="row content">
            <div class="col-12">
                <ul class="nav justify-content-center flex-column flex-md-row text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'roadmap' %}">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets-list' %}">All Tickets</a>
                    </li>
                    {% if user.authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i> Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i> Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-left">
                © 2019 Wish Machine
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-right">
                <a href="https://github.com/ASquirrelsTail/issue-tracker" target="_blank"><i class="fab fa-github"></i>GitHub</a>
            </div>
        </footer>
    </div>
    
    {% if login_form %}
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% with form=login_form next=login_next %}
                    {% include 'registration/login_form.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    {% if messages %}
    <!-- Initialize Message Toasts -->
    <script>
        $(function() {
            $('.toast').toast({delay: 3000}).toast('show');
        });
    </script>
    {% endif %}
    {% block javascript %}{% endblock %}
</body>
</html>