{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<h1>{{ object }}</h1>
<p>Views: {{ object.views }}</p>
{{ object.content|linebreaks }}
{% if object.approved is None %}
    <form action="{% url 'approve-issue' pk=object.id %}" method="post">
        {% csrf_token %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Approve</button>
        {% endbuttons %}
    </form>
{% elif object.doing is None %}
    <form action="{% url 'doing-issue' pk=object.id %}" method="post">
        {% csrf_token %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Doing</button>
        {% endbuttons %}
    </form>
{% elif object.done is None %}
    <form action="{% url 'done-issue' pk=object.id %}" method="post">
        {% csrf_token %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Done</button>
        {% endbuttons %}
    </form>
{% endif %}
{% if object.comments %}
    <h2>Comments:</h2>
    <hr>
    {% for comment in object.comments %}
    <blockquote id="comment-{{ comment.id }}">
        <p>Comment by {{ comment.user }} at {{ comment.created|date:'d/m/y H:i' }}</p>
        {{ comment.content|linebreaks }}
        {% if comment.user == user or perms.issues.can_edit_all_comments %}
        <a href="{% url 'edit-comment' issue_pk=object.id pk=comment.id %}" class="btn btn-primary">Edit Comment</a>
        {% endif %}
    </blockquote>
    <hr>
    {% endfor %}
{% else %}
    <h2>No comments yet!</h2>
    <p>Be the first!</p>
    <hr>
{% endif %}
{% if user.is_authenticated %}
    <h3 id='add-comment'>Commenting as {{ user.username }}</h3>
    <form action="{% url 'add-comment' issue_pk=object.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Add Comment</button>
        {% endbuttons %}
    </form>
{% else %}
    <a href="{% url 'login' %}?next={{ request.path }}%23add-comment" class="btn btn-primary">Log in to comment</a>
{% endif %}
    
{% endblock %}